<body style="margin: 0;padding: 0;font-family: Arial, sans-serif;background-color: #FFF5E4;">
    <section class="services">

        <div class="box-container">
     
           <div class="box">
              <img src="../../assets/images/icon-1.png" alt="">
              <h3>Buffet y Barra libre</h3>
              <p>Todas las noches son de barra libre y buffet</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-2.png" alt="">
              <h3>Experiencia privada</h3>
              <p>Nuestro staff puede llevarte comida a donde lo solicites</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-3.png" alt="">
              <h3>Vista a la playa</h3>
              <p>Nuestra posicion privilegiada porporciona las mejores vistas</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-4.png" alt="">
              <h3>Fiesta tematica</h3>
              <p>Reserva para hacer tus eventos aun mas especiales </p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-5.png" alt="">
              <h3>Alberca</h3>
              <p>Actividades y alberca disponile las 24 hrs</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-6.png" alt="">
              <h3>Resort privado</h3>
              <p>COontamos con zona exclusiva en la playa</p>
           </div>
     
        </div>
     
     </section>
    <h1 style="text-align: center; color: #850E35;">En Axolotl Palace, nuestra prioridad eres tú: Vive como la realeza</h1>
    <div class="container">
      <div class="imagen-container">
        <img src="../../assets/images/Axolotl.jpeg" class="imagen" alt="Logo UAA">
      </div>
      
    </div>
    <h2 style="text-align: center; color: #850E35;">PROYECTO UNIVERITARIO DE LA UAA</h2>
    <div class="container">
      <div class="persona">
        <div class="imagen" style="background-image: url('../../assets/images/Carlos.jpeg'); height: 300px"></div>
        <div class="info">
          <div class="nombre">Carlos Alberto</div>
          <div class="apellido">Zaragoza Cano</div>
          <div class="grado">6to</div>
          <div class="grupo">C</div>
          <div class="carrera">Ingeniería en Sistemas</div>
        </div>
      </div>
      <div class="persona">
        <div class="imagen" style="background-image: url('../../assets/images/Daniel.jpeg'); height: 300px"></div>
        <div class="info">
          <div class="nombre">Carlos Daniel</div>
          <div class="apellido">De Lira Salas</div>
          <div class="grado">6to</div>
          <div class="grupo">C</div>
          <div class="carrera">Ingeniería en Sistemas</div>
        </div>
      </div>
      <div class="persona">
        <div class="imagen" style="background-image: url('../../assets/images/Leo.jpeg');height: 300px"></div>
        <div class="info">
          <div class="nombre">Leonardo</div>
          <div class="apellido">Pedroza Gonzalez</div>
          <div class="grado">6to</div>
          <div class="grupo">C</div>
          <div class="carrera">Ingeniería en Sistemas</div>
        </div>
      </div>
    </div>
    
    <h2 style="text-align: center; color: #850E35;">Nos ubicamos en:</h2>
    <div id="map"  style="width: 400px;height: 300px; margin: auto;"></div>
  </body>