<section class="contact" id="contact">
    <div class="row">
 
       <div class="faq">
          <h3 class="title">Preguntas Frecuentes</h3>
          <div class="box active">
             <h3>¿Como cancelar?</h3>
             <p>Lamentablemente las cancelaciones no pueden hacerce en linea, por lo que es necesario contactarnos por telefono.</p>
          </div>
          <div class="box">
             <h3>¿Como veo la disponibilidad?</h3>
             <p>Puedes seleccionar la fecha estimada en nuestro apartado de reservas y seste indicará si la fecha, habitacion y/o servicios estan disponibles.</p>
          </div>
          <div class="box">
             <h3>¿Cuales metodos de pago son aceptados?</h3>
             <p>Aceptamos todo tipo de metodos de pago!, tarjeta, efectivo y transferencias</p>
          </div>
          <div class="box">
             <h3>¿Como reservo?</h3>
             <p>Puede ser directamente desde nuestra pagina web o si bien lo prefieres comunicandote a nuestro numero telefonico</p>
          </div>
          <div class="box">
             <h3>¿Cuales son los requisitos para una reservacion?</h3>
             <p>Somos un hotel familiar por lo que no hay requisitos, todas las edades son bienvenidas!</p>
          </div>
       </div>
    </div>
 </section>