@media (min-width: 576px) {
    .card-columns {
      -moz-column-count: 2;
           column-count: 2;
    }
  }
  @media (min-width: 768px) {
    .card-columns {
      -moz-column-count: 3;
           column-count: 3;
    }
  }
  @media (min-width: 992px) {
    .card-columns {
      -moz-column-count: 4;
           column-count: 4;
    }
  }
  @media (min-width: 1200px) {
    .card-columns {
      -moz-column-count: 5;
           column-count: 5;
    }
  }