.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
    padding: 20px;
    width: 50%;
    background-color: #ff99cc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    background-color: #ce4e8e;
    width: 100%;
  
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
  }
  
  label {
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    background-color: #ffffff;
    color: #ff0080;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #ffffff;
    color: #ff0080;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  