<section class="home" id="home">

    <div class="swiper home-slider" >
 
       <div class="swiper-wrapper">

          <div class="box swiper-slide">
             <img src="../assets/images/home-img-1.jpg" alt="">
             <div class="flex">
                <h3>Habitaciones de lujo</h3>
             </div>
          </div>
 
          <div class="box swiper-slide">
             <img src="../assets/images/home-img-2.jpg" alt="">
             <div class="flex">
                <h3>Entretenimiento</h3>
             </div>
          </div>
 
          <div class="box swiper-slide">
             <img src="../assets/images/home-img-3.jpg" alt="">
             <div class="flex">
                <h3>Lujosas instalaciones</h3>
             </div>
          </div>
 
       </div>
    </div>
 
 </section>


<section class="footer">

   <div class="box-container">

      <div class="box">
         <a href=""><i class="fas fa-phone"></i> +123-456-7890</a>
         <a href=""><i class="fas fa-phone"></i> +111-222-3333</a>
         <a href="mailto:axolotl@paradise.com"><i class="fas fa-envelope"></i> Axolotl@paradise.com</a>
      </div>

      <div class="box">
         <a href="#">facebook <i class="fab fa-facebook-f"></i></a>
         <a href="#">twitter <i class="fab fa-twitter"></i></a>
         <a href="#">instagram <i class="fab fa-instagram"></i></a>
         <a href="#">linkedin <i class="fab fa-linkedin"></i></a>
      </div>

   </div>
</section>