<section class="home" id="home">

    <div class="swiper home-slider" >
 
       <div class="swiper-wrapper">

          <div class="box swiper-slide">
             <img src="../assets/images/home-img-1.jpg" alt="">
             <div class="flex">
                <h3>Habitaciones de lujo</h3>
             </div>
          </div>
 
          <div class="box swiper-slide">
             <img src="../assets/images/home-img-2.jpg" alt="">
             <div class="flex">
                <h3>Entretenimiento</h3>
             </div>
          </div>
 
          <div class="box swiper-slide">
             <img src="../assets/images/home-img-3.jpg" alt="">
             <div class="flex">
                <h3>Lujosas instalaciones</h3>
             </div>
          </div>
 
       </div>
    </div>
 
 </section>


<section class="footer">

   <div class="box-container">

      <div class="box">
         <a href=""><i class="fas fa-phone"></i> +123-456-7890</a>
         <a href=""><i class="fas fa-phone"></i> +111-222-3333</a>
         <a href="mailto:axolotl@paradise.com"><i class="fas fa-envelope"></i> Axolotl@paradise.com</a>
      </div>

      <div class="box">
         <a href="#">facebook <i class="fab fa-facebook-f"></i></a>
         <a href="#">twitter <i class="fab fa-twitter"></i></a>
         <a href="#">instagram <i class="fab fa-instagram"></i></a>
         <a href="#">linkedin <i class="fab fa-linkedin"></i></a>
      </div>

      <br><br>
    <h5 style="text-align: center; color: #850E35;">
      <h4> - Accesibilidad - </h4> <br>
      <li>
        <h6>OPCIONES DE LECTOR DE VOZ:</h6>
        <button style="width: 100px;margin: 2px;" type="button" (click)="Hablar()">Activar</button>
        <button style="width: 100px;margin: 2px;" type="button" (click)="Pausar()">Pausar</button>
        <button style="width: 100px;margin: 2px;" type="button" (click)="Resumen()">Continuar</button>
      </li> <br>
      <li>
        <h6>OPCIONES DE ZOOM:</h6>
        <button style="width: 100px;margin: 2px;" type="button" (click)="ZoomMas()"> Zoom (+) </button>
        <button style="width: 100px;margin: 2px;" type="button" (click)="ZoomNormal()"> Sin Zoom </button>
        <button style="width: 100px;margin: 2px;" type="button" (click)="ZoomMenos()"> Zoom (-) </button>
      </li> <br>
      <li>
        <h6>OPCIONES DE ENLACES:</h6>
        <button style="width: 100px;margin: 2px;" type="button" (click)="EnlacesB()"> Resaltar Enlaces </button>
        <button style="width: 100px;margin: 2px;" type="button" (click)="EnlacesA()"> Enlaces Normales </button>
      </li> <br>
      <li>
        <h6>OPCIONES DE CONTRASTE:</h6>
        <button style="width: 150px;margin: 2px;" type="button" (click)="ContrasteA()"> Contraste Alto </button>
        <button style="margin: 2px;" type="button" (click)="ContrasteB()"> Contraste Normal </button>
      </li> <br>
    </h5>

   </div>
</section>