<section class="home" id="home">

    <div class="swiper home-slider">
 
       <div class="swiper-wrapper">

          <div class="box swiper-slide">
             <img src="../assets/images/home-img-1.jpg" alt="">
             <div class="flex">
                <h3>Habitaciones de lujo</h3>
             </div>
          </div>
 
          <div class="box swiper-slide">
             <img src="../assets/images/home-img-2.jpg" alt="">
             <div class="flex">
                <h3>Entretenimiento</h3>
             </div>
          </div>
 
          <div class="box swiper-slide">
             <img src="../assets/images/home-img-3.jpg" alt="">
             <div class="flex">
                <h3>Lujosas instalaciones</h3>
             </div>
          </div>
 
       </div>
    </div>
 
 </section>


<section class="contact" id="contact">

   <div class="row">

      <form action="" method="post">
         <h3>Contactanos</h3>
         <input type="text" name="name" required maxlength="50" placeholder="Ingresa tu nombre" class="box">
         <input type="email" name="email" required maxlength="50" placeholder="ingresa tu email" class="box">
         <input type="number" name="number" required maxlength="10" min="0" max="0000000000" placeholder="enter your number" class="box">
         <textarea name="msg" class="box" required maxlength="1000" placeholder="escribenos" cols="30" rows="10"></textarea>
         <input type="submit" value="send message" name="send" class="btn">
      </form>

      <div class="faq">
         <h3 class="title">Preguntas Frecuentes</h3>
         <div class="box active">
            <h3>Como cancelar?</h3>
            <p>Lamentablemente las cancelaciones no pueden hacerce en linea, por lo que es necesario contactarnos por telefono.</p>
         </div>
         <div class="box">
            <h3>Como ver disponibilidad?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam neque quaerat mollitia ratione? Soluta!</p>
         </div>
         <div class="box">
            <h3>Cuales metodos de pago son aceptados?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam neque quaerat mollitia ratione? Soluta!</p>
         </div>
         <div class="box">
            <h3>how to claim coupons codes?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam neque quaerat mollitia ratione? Soluta!</p>
         </div>
         <div class="box">
            <h3>Cuales son los requisitos para una reservacion?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam neque quaerat mollitia ratione? Soluta!</p>
         </div>
      </div>

   </div>

</section>

<section class="footer">

   <div class="box-container">

      <div class="box">
         <a href=""><i class="fas fa-phone"></i> +123-456-7890</a>
         <a href=""><i class="fas fa-phone"></i> +111-222-3333</a>
         <a href="mailto:axolotl@paradise.com"><i class="fas fa-envelope"></i> Axolotl@paradise.com</a>
      </div>

      <div class="box">
         <a href="#">facebook <i class="fab fa-facebook-f"></i></a>
         <a href="#">twitter <i class="fab fa-twitter"></i></a>
         <a href="#">instagram <i class="fab fa-instagram"></i></a>
         <a href="#">linkedin <i class="fab fa-linkedin"></i></a>
      </div>

   </div>
</section>